In [2]:
import PyMySQL
import pandas as pd

ModuleNotFoundError: No module named 'PyMySQL'

In [ ]:
conn = pymysql.connect(
    host='case-problems-practice.cknpixybksh4.us-west-2.rds.amazonaws.com',
    port=int(3306),
    user="admin",
    passwd="Austin9674$",
    db="case-problems-practice",
    charset='utf8mb4')

In [ ]:
cursor=conn.cursor()

In [ ]:
CREATE TABLE `leetcode-case-problems` (
    `question #` INT COMMENT 'Question_Number',
	`title` TINYTEXT COMMENT 'title',
	`syntax` TEXT CHARACTER SET utf8 COLLATE utf8_general_ci COMMENT 'py/sql',
	`confident` BOOLEAN DEFAULT 'n' COMMENT 'y/n',
	UNIQUE KEY `question & status ` (`Question #`,`confident`) USING BTREE,
	PRIMARY KEY (`question #`)
);

In [ ]:
cursor.execute(create_table)

insert_statement="""
Insert into leetcode-case-problems
(question, title, syntax, confident)
values
(1,'Question 1','SELECT title FROM...',n)

"""

In [ ]:
cursor.execute(insert_statement)

conn.commit()
conn.close()

In [ ]:
SELECT * FROM leetcode-case-problems;